-- ==========================================
-- SCRIPT DE CONFIGURACIÃ“N DE BASE DE DATOS
-- SUPABASE - CLÃNICA PSICOLÃ“GICA (MULTI-TENANT)
-- ==========================================
-- NOTA: Este archivo contiene las tablas, triggers y polÃ­ticas RLS crÃ­ticas 
-- que se aplicaron durante la migraciÃ³n para blindar la aplicaciÃ³n.
-- ==========================================

-- 1. TABLA DE INVITACIONES (GestiÃ³n de CÃ³digos VIP)
CREATE TABLE IF NOT EXISTS public.invitaciones (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    creado_por UUID NOT NULL REFERENCES public.usuarios(id) ON DELETE CASCADE,
    codigo TEXT NOT NULL UNIQUE,
    rol_asignado TEXT NOT NULL,
    usado BOOLEAN DEFAULT false,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

ALTER TABLE public.invitaciones ENABLE ROW LEVEL SECURITY;

CREATE POLICY "superadmin_select_inv" ON public.invitaciones FOR SELECT USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "superadmin_insert_inv" ON public.invitaciones FOR INSERT WITH CHECK ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "superadmin_update_inv" ON public.invitaciones FOR UPDATE USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "superadmin_delete_inv" ON public.invitaciones FOR DELETE USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "user_select_inv" ON public.invitaciones FOR SELECT USING ( clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()) );

-- 2. TRIGGER DE REGISTRO AUTOMÃTICO DE USUARIOS
-- Intercepta registros de Supabase Auth para leer el cÃ³digo VIP y asignar clinica_id
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger AS $$
DECLARE
  _clinica_id UUID := NULL;
  _rol TEXT := 'admin';
  _invitacion_id UUID;
BEGIN
  IF new.raw_user_meta_data->>'codigo_invitacion' IS NOT NULL THEN
     SELECT id, clinica_id, rol_asignado INTO _invitacion_id, _clinica_id, _rol 
     FROM public.invitaciones 
     WHERE codigo = (new.raw_user_meta_data->>'codigo_invitacion') AND usado = false
     LIMIT 1;
     
     IF _invitacion_id IS NOT NULL THEN
       UPDATE public.invitaciones SET usado = true WHERE id = _invitacion_id;
     END IF;
  END IF;

  INSERT INTO public.usuarios (id, email, nombre, rol, clinica_id)
  VALUES (
    new.id, 
    new.email, 
    COALESCE(new.raw_user_meta_data->>'nombre', 'Doctor'), 
    _rol, 
    _clinica_id
  );
  
  RETURN new;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER SET search_path = public;

-- Asegurarse de que el trigger estÃ© enlazado al sistema Auth
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE PROCEDURE public.handle_new_user();


-- 3. POLÃTICAS RLS INFALIBLES PARA TODAS LAS TABLAS CLÃNICAS
-- Bloquea a los usuarios para que solo vean/editen datos de su propia clÃ­nica.

-- CLINICAS (ExcepciÃ³n: SuperAdmin tiene acceso total)
DROP POLICY IF EXISTS "Permitir todo a superadmin" ON public.clinicas;
DROP POLICY IF EXISTS "Permitir leer su propia clinica" ON public.clinicas;
CREATE POLICY "superadmin_select_clinicas" ON public.clinicas FOR SELECT USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "superadmin_insert_clinicas" ON public.clinicas FOR INSERT WITH CHECK ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "superadmin_update_clinicas" ON public.clinicas FOR UPDATE USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "superadmin_delete_clinicas" ON public.clinicas FOR DELETE USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "user_select_clinicas" ON public.clinicas FOR SELECT USING ( id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()) );

-- PACIENTES
DROP POLICY IF EXISTS "Permitir insertar a su clinica" ON public.pacientes;
DROP POLICY IF EXISTS "Permitir leer pacientes de su clinica" ON public.pacientes;
DROP POLICY IF EXISTS "Permitir actualizar pacientes de su clinica" ON public.pacientes;
CREATE POLICY "user_insert_pacientes" ON public.pacientes FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_select_pacientes" ON public.pacientes FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_pacientes" ON public.pacientes FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- CITAS
DROP POLICY IF EXISTS "Permitir insertar a su clinica" ON public.citas;
DROP POLICY IF EXISTS "Permitir leer citas de su clinica" ON public.citas;
DROP POLICY IF EXISTS "Permitir actualizar citas de su clinica" ON public.citas;
DROP POLICY IF EXISTS "Permitir eliminar citas de su clinica" ON public.citas;
CREATE POLICY "user_insert_citas" ON public.citas FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_select_citas" ON public.citas FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_citas" ON public.citas FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_delete_citas" ON public.citas FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- DIAGNOSTICOS
DROP POLICY IF EXISTS "Permitir insertar a su clinica" ON public.diagnosticos;
DROP POLICY IF EXISTS "Permitir leer diagnosticos de su clinica" ON public.diagnosticos;
DROP POLICY IF EXISTS "Permitir actualizar diagnosticos de su clinica" ON public.diagnosticos;
CREATE POLICY "user_insert_diagnosticos" ON public.diagnosticos FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_select_diagnosticos" ON public.diagnosticos FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_diagnosticos" ON public.diagnosticos FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- MEDICAMENTOS
DROP POLICY IF EXISTS "Permitir insertar a su clinica" ON public.medicamentos;
DROP POLICY IF EXISTS "Permitir leer medicamentos de su clinica" ON public.medicamentos;
DROP POLICY IF EXISTS "Permitir actualizar medicamentos de su clinica" ON public.medicamentos;
CREATE POLICY "user_insert_medicamentos" ON public.medicamentos FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_select_medicamentos" ON public.medicamentos FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_medicamentos" ON public.medicamentos FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- EXAMENES
DROP POLICY IF EXISTS "Permitir insertar a su clinica" ON public.examenes;
DROP POLICY IF EXISTS "Permitir leer examenes de su clinica" ON public.examenes;
DROP POLICY IF EXISTS "Permitir actualizar examenes de su clinica" ON public.examenes;
CREATE POLICY "user_insert_examenes" ON public.examenes FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_select_examenes" ON public.examenes FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_examenes" ON public.examenes FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- SIGNOS VITALES
DROP POLICY IF EXISTS "Permitir insertar a su clinica" ON public.signos_vitales;
DROP POLICY IF EXISTS "Permitir leer signos de su clinica" ON public.signos_vitales;
CREATE POLICY "user_insert_signos_vitales" ON public.signos_vitales FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_select_signos_vitales" ON public.signos_vitales FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- NOTAS CLINICAS
DROP POLICY IF EXISTS "Permitir insertar a su clinica" ON public.notas_clinicas;
DROP POLICY IF EXISTS "Permitir leer notas de su clinica" ON public.notas_clinicas;
CREATE POLICY "user_insert_notas_clinicas" ON public.notas_clinicas FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_select_notas_clinicas" ON public.notas_clinicas FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- 4. COMANDOS MANUALES POST-INSTALACIÃ“N
-- Si creas un proyecto nuevo, deberÃ¡s ejecutar este comando una vez registrado 
-- tu primer usuario para otorgarle el rol de "DueÃ±o del Sistema" (SuperAdmin):
-- UPDATE public.usuarios SET rol = 'superadmin' WHERE email = 'tu_correo@admin.com';
-- ==========================================
-- SCRIPT DE MÃ“DULO DE FACTURACIÃ“N
-- ==========================================

-- 1. TABLA DE FACTURAS
CREATE TABLE IF NOT EXISTS public.facturas (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    paciente_id UUID NOT NULL REFERENCES public.pacientes(id) ON DELETE CASCADE,
    cita_id UUID REFERENCES public.citas(id) ON DELETE SET NULL,
    monto_total DECIMAL(10,2) NOT NULL,
    saldo_pendiente DECIMAL(10,2) NOT NULL,
    estado TEXT NOT NULL CHECK (estado IN ('pendiente', 'pagada', 'parcial', 'cancelada')),
    concepto TEXT NOT NULL,
    fecha_emision DATE NOT NULL,
    fecha_vencimiento DATE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Habilitar RLS
ALTER TABLE public.facturas ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas de Seguridad para Facturas
CREATE POLICY "user_select_facturas" ON public.facturas FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_insert_facturas" ON public.facturas FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_facturas" ON public.facturas FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_delete_facturas" ON public.facturas FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- 2. TABLA DE PAGOS
CREATE TABLE IF NOT EXISTS public.pagos (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    factura_id UUID NOT NULL REFERENCES public.facturas(id) ON DELETE CASCADE,
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    monto DECIMAL(10,2) NOT NULL,
    metodo_pago TEXT NOT NULL CHECK (metodo_pago IN ('efectivo', 'tarjeta', 'transferencia', 'seguro')),
    fecha_pago TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Habilitar RLS
ALTER TABLE public.pagos ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas de Seguridad para Pagos
CREATE POLICY "user_select_pagos" ON public.pagos FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_insert_pagos" ON public.pagos FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_pagos" ON public.pagos FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_delete_pagos" ON public.pagos FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
-- ==========================================
-- SCRIPT DE MÃ“DULO DE FACTURACIÃ“N
-- ==========================================

-- 1. TABLA DE FACTURAS
CREATE TABLE IF NOT EXISTS public.facturas (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    paciente_id UUID REFERENCES public.pacientes(id) ON DELETE CASCADE,
    cita_id UUID REFERENCES public.citas(id) ON DELETE SET NULL,
    monto_total DECIMAL(10,2) NOT NULL,
    saldo_pendiente DECIMAL(10,2) NOT NULL,
    estado TEXT NOT NULL CHECK (estado IN ('pendiente', 'pagada', 'parcial', 'cancelada')),
    concepto TEXT NOT NULL,
    nit TEXT DEFAULT 'CF',
    nombre_factura TEXT,
    direccion TEXT DEFAULT 'Ciudad',
    numero_factura TEXT,
    serie TEXT,
    fecha_emision DATE NOT NULL,
    fecha_vencimiento DATE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Habilitar RLS
ALTER TABLE public.facturas ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas de Seguridad para Facturas
CREATE POLICY "user_select_facturas" ON public.facturas FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_insert_facturas" ON public.facturas FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_facturas" ON public.facturas FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_delete_facturas" ON public.facturas FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- 2. TABLA DE PAGOS
CREATE TABLE IF NOT EXISTS public.pagos (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    factura_id UUID NOT NULL REFERENCES public.facturas(id) ON DELETE CASCADE,
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    monto DECIMAL(10,2) NOT NULL,
    metodo_pago TEXT NOT NULL CHECK (metodo_pago IN ('efectivo', 'tarjeta', 'transferencia', 'seguro')),
    fecha_pago TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Habilitar RLS
ALTER TABLE public.pagos ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas de Seguridad para Pagos
CREATE POLICY "user_select_pagos" ON public.pagos FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_insert_pagos" ON public.pagos FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_pagos" ON public.pagos FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_delete_pagos" ON public.pagos FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
-- MigraciÃ³n para FacturaciÃ³n en Guatemala (NIT y Nombre)
ALTER TABLE public.facturas ALTER COLUMN paciente_id DROP NOT NULL;
ALTER TABLE public.facturas ADD COLUMN IF NOT EXISTS nit TEXT DEFAULT 'CF';
ALTER TABLE public.facturas ADD COLUMN IF NOT EXISTS nombre_factura TEXT;
-- MigraciÃ³n para FacturaciÃ³n en Guatemala (NIT, Nombre, DirecciÃ³n, FEL)
ALTER TABLE public.facturas ADD COLUMN IF NOT EXISTS direccion TEXT DEFAULT 'Ciudad';
ALTER TABLE public.facturas ADD COLUMN IF NOT EXISTS numero_factura TEXT;
ALTER TABLE public.facturas ADD COLUMN IF NOT EXISTS serie TEXT;
-- Permitir a los administradores crear invitaciones para su propia clÃ­nica
CREATE POLICY "admin_insert_inv" 
ON public.invitaciones 
FOR INSERT 
WITH CHECK (
  (SELECT rol FROM public.usuarios WHERE id = auth.uid()) IN ('admin', 'doctor') AND
  clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid())
);
-- Crear tabla de plantillas de documentos
CREATE TABLE IF NOT EXISTS public.plantillas_documentos (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  clinica_id uuid REFERENCES public.clinicas(id) ON DELETE CASCADE,
  titulo text NOT NULL,
  contenido text NOT NULL,
  created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Habilitar RLS para plantillas
ALTER TABLE public.plantillas_documentos ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas para plantillas
DROP POLICY IF EXISTS "user_select_plantillas" ON public.plantillas_documentos;
CREATE POLICY "user_select_plantillas" ON public.plantillas_documentos 
FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

DROP POLICY IF EXISTS "user_insert_plantillas" ON public.plantillas_documentos;
CREATE POLICY "user_insert_plantillas" ON public.plantillas_documentos 
FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

DROP POLICY IF EXISTS "user_update_plantillas" ON public.plantillas_documentos;
CREATE POLICY "user_update_plantillas" ON public.plantillas_documentos 
FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

DROP POLICY IF EXISTS "user_delete_plantillas" ON public.plantillas_documentos;
CREATE POLICY "user_delete_plantillas" ON public.plantillas_documentos 
FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));


-- Crear tabla de consentimientos firmados
CREATE TABLE IF NOT EXISTS public.consentimientos_firmados (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  clinica_id uuid REFERENCES public.clinicas(id) ON DELETE CASCADE,
  paciente_id uuid REFERENCES public.pacientes(id) ON DELETE CASCADE,
  plantilla_id uuid REFERENCES public.plantillas_documentos(id) ON DELETE SET NULL,
  titulo text NOT NULL,
  contenido_firmado text NOT NULL,
  firma_data_url text NOT NULL,
  fecha_firma timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
  estado text DEFAULT 'firmado' CHECK (estado IN ('pendiente', 'firmado'))
);

-- Habilitar RLS para consentimientos firmados
ALTER TABLE public.consentimientos_firmados ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas para consentimientos
DROP POLICY IF EXISTS "user_select_consentimientos" ON public.consentimientos_firmados;
CREATE POLICY "user_select_consentimientos" ON public.consentimientos_firmados 
FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

DROP POLICY IF EXISTS "user_insert_consentimientos" ON public.consentimientos_firmados;
CREATE POLICY "user_insert_consentimientos" ON public.consentimientos_firmados 
FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

DROP POLICY IF EXISTS "public_update_consentimientos_pendientes" ON public.consentimientos_firmados;
CREATE POLICY "public_update_consentimientos_pendientes" ON public.consentimientos_firmados
FOR UPDATE USING (estado = 'pendiente');

DROP POLICY IF EXISTS "public_select_consentimientos_pendientes" ON public.consentimientos_firmados;
CREATE POLICY "public_select_consentimientos_pendientes" ON public.consentimientos_firmados
FOR SELECT USING (estado = 'pendiente');

-- Insertar plantilla por defecto automÃ¡ticamente al crear una nueva clÃ­nica
CREATE OR REPLACE FUNCTION public.crear_plantilla_defecto()
RETURNS trigger AS $$
BEGIN
  INSERT INTO public.plantillas_documentos (clinica_id, titulo, contenido)
  VALUES (
    NEW.id,
    'Consentimiento Informado General (Adultos)',
    'CONSENTIMIENTO INFORMADO PARA EVALUACIÃ“N Y TRATAMIENTO PSICOLÃ“GICO

1. IDENTIFICACIÃ“N
Yo, {{PACIENTE_NOMBRE}}, autorizo libre y voluntariamente a participar en el proceso de evaluaciÃ³n y tratamiento psicolÃ³gico.

2. NATURALEZA DEL SERVICIO
Entiendo que el tratamiento psicolÃ³gico es una relaciÃ³n colaborativa. Los resultados dependen en gran medida de mi participaciÃ³n activa. El profesional utilizarÃ¡ tÃ©cnicas basadas en evidencia cientÃ­fica orientadas a mi bienestar.

3. CONFIDENCIALIDAD
Toda la informaciÃ³n revelada durante las sesiones serÃ¡ estrictamente confidencial. Las Ãºnicas excepciones legales para romper esta confidencialidad son:
- Riesgo inminente contra mi propia vida o la vida de terceros.
- Sospecha de abuso a menores de edad o personas vulnerables.
- Requerimiento u orden de un juez.

4. POLÃTICAS DE CANCELACIÃ“N Y HONORARIOS
Me comprometo a notificar cualquier cancelaciÃ³n con al menos 24 horas de anticipaciÃ³n. De lo contrario, la sesiÃ³n podrÃ¡ ser cobrada en su totalidad. Entiendo las tarifas acordadas y me comprometo a cumplir con los pagos de manera oportuna.

5. VOLUNTARIEDAD
Entiendo que mi participaciÃ³n es totalmente voluntaria y tengo el derecho de retirar este consentimiento y finalizar el tratamiento en el momento que lo considere necesario, sin que esto implique penalizaciÃ³n alguna.

Con mi firma abajo, declaro que he leÃ­do, comprendido y aceptado las condiciones aquÃ­ expuestas, habiendo tenido la oportunidad de aclarar cualquier duda con mi terapeuta.'
  );
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Trigger para ejecutar la funciÃ³n cuando se crea una clÃ­nica
DROP TRIGGER IF EXISTS on_clinica_created_plantilla ON public.clinicas;
CREATE TRIGGER on_clinica_created_plantilla
  AFTER INSERT ON public.clinicas
  FOR EACH ROW EXECUTE FUNCTION public.crear_plantilla_defecto();

-- Insertar la plantilla por defecto para todas las clÃ­nicas que ya existen y no tienen plantillas
INSERT INTO public.plantillas_documentos (clinica_id, titulo, contenido)
SELECT 
  id, 
  'Consentimiento Informado General (Adultos)', 
  'CONSENTIMIENTO INFORMADO PARA EVALUACIÃ“N Y TRATAMIENTO PSICOLÃ“GICO

1. IDENTIFICACIÃ“N
Yo, {{PACIENTE_NOMBRE}}, autorizo libre y voluntariamente a participar en el proceso de evaluaciÃ³n y tratamiento psicolÃ³gico.

2. NATURALEZA DEL SERVICIO
Entiendo que el tratamiento psicolÃ³gico es una relaciÃ³n colaborativa. Los resultados dependen en gran medida de mi participaciÃ³n activa. El profesional utilizarÃ¡ tÃ©cnicas basadas en evidencia cientÃ­fica orientadas a mi bienestar.

3. CONFIDENCIALIDAD
Toda la informaciÃ³n revelada durante las sesiones serÃ¡ estrictamente confidencial. Las Ãºnicas excepciones legales para romper esta confidencialidad son:
- Riesgo inminente contra mi propia vida o la vida de terceros.
- Sospecha de abuso a menores de edad o personas vulnerables.
- Requerimiento u orden de un juez.

4. POLÃTICAS DE CANCELACIÃ“N Y HONORARIOS
Me comprometo a notificar cualquier cancelaciÃ³n con al menos 24 horas de anticipaciÃ³n. De lo contrario, la sesiÃ³n podrÃ¡ ser cobrada en su totalidad. Entiendo las tarifas acordadas y me comprometo a cumplir con los pagos de manera oportuna.

5. VOLUNTARIEDAD
Entiendo que mi participaciÃ³n es totalmente voluntaria y tengo el derecho de retirar este consentimiento y finalizar el tratamiento en el momento que lo considere necesario, sin que esto implique penalizaciÃ³n alguna.

Con mi firma abajo, declaro que he leÃ­do, comprendido y aceptado las condiciones aquÃ­ expuestas, habiendo tenido la oportunidad de aclarar cualquier duda con mi terapeuta.'
FROM public.clinicas
WHERE NOT EXISTS (
  SELECT 1 FROM public.plantillas_documentos WHERE clinica_id = public.clinicas.id
);
-- ==========================================
-- SCRIPT: 03_evaluaciones_psicometricas.sql
-- DESCRIPCIÃ“N: Crea las tablas para gestionar tests psicomÃ©tricos
-- ==========================================

-- 1. TABLA DE PLANTILLAS DE EVALUACIÃ“N
CREATE TABLE IF NOT EXISTS public.evaluaciones_plantillas (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    clinica_id UUID REFERENCES public.clinicas(id) ON DELETE CASCADE, -- NULL significa que es global
    titulo TEXT NOT NULL,
    descripcion TEXT,
    preguntas JSONB NOT NULL DEFAULT '[]'::jsonb,
    escalas JSONB NOT NULL DEFAULT '[]'::jsonb,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Habilitar RLS
ALTER TABLE public.evaluaciones_plantillas ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas: Todos pueden leer las globales (clinica_id IS NULL) o las de su propia clÃ­nica
CREATE POLICY "user_select_evaluaciones_plantillas" ON public.evaluaciones_plantillas 
FOR SELECT USING (clinica_id IS NULL OR clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

CREATE POLICY "user_insert_evaluaciones_plantillas" ON public.evaluaciones_plantillas 
FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

CREATE POLICY "user_update_evaluaciones_plantillas" ON public.evaluaciones_plantillas 
FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

CREATE POLICY "user_delete_evaluaciones_plantillas" ON public.evaluaciones_plantillas 
FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));


-- 2. TABLA DE EVALUACIONES REALIZADAS A PACIENTES
CREATE TABLE IF NOT EXISTS public.evaluaciones_pacientes (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    paciente_id UUID NOT NULL REFERENCES public.pacientes(id) ON DELETE CASCADE,
    medico_id UUID NOT NULL REFERENCES public.usuarios(id) ON DELETE CASCADE,
    plantilla_id UUID NOT NULL REFERENCES public.evaluaciones_plantillas(id) ON DELETE RESTRICT,
    respuestas JSONB NOT NULL DEFAULT '{}'::jsonb,
    puntaje_total INTEGER NOT NULL DEFAULT 0,
    interpretacion TEXT,
    estado TEXT NOT NULL DEFAULT 'completado',
    fecha TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Habilitar RLS
ALTER TABLE public.evaluaciones_pacientes ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas
CREATE POLICY "user_select_evaluaciones_pacientes" ON public.evaluaciones_pacientes 
FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

CREATE POLICY "user_insert_evaluaciones_pacientes" ON public.evaluaciones_pacientes 
FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

CREATE POLICY "user_update_evaluaciones_pacientes" ON public.evaluaciones_pacientes 
FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

CREATE POLICY "user_delete_evaluaciones_pacientes" ON public.evaluaciones_pacientes 
FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));


-- ==========================================
-- INSERCIÃ“N DE DATOS SEMILLA (GLOBALES)
-- ==========================================

-- Insertar GAD-7 (Ansiedad)

-- Insertar PHQ-9 (DepresiÃ³n)

-- Insertar PSS-14 (EstrÃ©s Percibido)

-- Insertar RSES (Escala de Autoestima de Rosenberg)
-- ==========================================
-- SCRIPT: 04_evaluaciones_psicometricas_extras.sql
-- DESCRIPCIÃ“N: Inserta tests psicomÃ©tricos adicionales (DASS-21, BAI, ISI, AUDIT, ASRS-v1.1)
-- ==========================================

-- Insertar DASS-21 (DepresiÃ³n, Ansiedad y EstrÃ©s)

-- Insertar BAI (Inventario de Ansiedad de Beck)

-- Insertar ISI (Ãndice de Severidad del Insomnio)

-- Insertar AUDIT (Alcohol)

-- Insertar ASRS-v1.1 (TDAH Screener)
-- ==========================================
-- SCRIPT: 05_videoconsultas.sql
-- DESCRIPCIÃ“N: AÃ±ade soporte para videoconsultas en la tabla citas
-- ==========================================

-- AÃ±adir campo de modalidad a las citas (presencial o virtual)
ALTER TABLE public.citas 
ADD COLUMN IF NOT EXISTS modalidad TEXT DEFAULT 'presencial' 
CHECK (modalidad IN ('presencial', 'virtual'));

-- AÃ±adir campo para el enlace/ID de la sala virtual
ALTER TABLE public.citas 
ADD COLUMN IF NOT EXISTS enlace_video TEXT;
-- ==========================================
-- SCRIPT: 06_usuarios_perfil_extendido.sql
-- DESCRIPCIÃ“N: AÃ±ade campos de perfil profesional a la tabla usuarios
-- ==========================================

ALTER TABLE public.usuarios
  ADD COLUMN IF NOT EXISTS telefono        TEXT,
  ADD COLUMN IF NOT EXISTS dpi             TEXT,
  ADD COLUMN IF NOT EXISTS direccion       TEXT,
  ADD COLUMN IF NOT EXISTS profesion       TEXT,
  ADD COLUMN IF NOT EXISTS no_colegiado    TEXT,
  ADD COLUMN IF NOT EXISTS especialidad    TEXT,
  ADD COLUMN IF NOT EXISTS fecha_nacimiento DATE,
  ADD COLUMN IF NOT EXISTS genero          TEXT CHECK (genero IN ('masculino', 'femenino', 'otro', 'prefiero_no_decir')),
  ADD COLUMN IF NOT EXISTS foto_url        TEXT;
-- ==========================================
-- SCRIPT: 07_usuarios_activo.sql
-- DESCRIPCIÃ“N: AÃ±ade campo activo a la tabla usuarios para bloquear acceso
-- ==========================================

ALTER TABLE public.usuarios
  ADD COLUMN IF NOT EXISTS activo BOOLEAN DEFAULT true;
-- ==========================================
-- MÃ“DULO DE CAJA Y MOVIMIENTOS
-- ==========================================

-- Tabla de Turnos de Caja
CREATE TABLE IF NOT EXISTS public.cajas (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    usuario_apertura_id UUID NOT NULL REFERENCES public.usuarios(id),
    usuario_cierre_id UUID REFERENCES public.usuarios(id),
    monto_apertura DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    monto_cierre_esperado DECIMAL(10,2),
    monto_cierre_real DECIMAL(10,2),
    diferencia DECIMAL(10,2),
    fecha_apertura TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    fecha_cierre TIMESTAMP WITH TIME ZONE,
    estado TEXT NOT NULL CHECK (estado IN ('abierta', 'cerrada')) DEFAULT 'abierta',
    notas TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Habilitar RLS
ALTER TABLE public.cajas ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas para Cajas
CREATE POLICY "user_select_cajas" ON public.cajas FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_insert_cajas" ON public.cajas FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_cajas" ON public.cajas FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_delete_cajas" ON public.cajas FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- Tabla de Movimientos de Caja (Libro Mayor)
CREATE TABLE IF NOT EXISTS public.movimientos_caja (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    caja_id UUID NOT NULL REFERENCES public.cajas(id) ON DELETE CASCADE,
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    usuario_id UUID NOT NULL REFERENCES public.usuarios(id),
    tipo TEXT NOT NULL CHECK (tipo IN ('ingreso', 'egreso')),
    monto DECIMAL(10,2) NOT NULL,
    metodo_pago TEXT NOT NULL CHECK (metodo_pago IN ('efectivo', 'tarjeta', 'transferencia', 'otro')),
    concepto TEXT NOT NULL,
    referencia_id UUID, -- Opcional: Puede ser el ID de un pago, factura, etc.
    fecha TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Habilitar RLS
ALTER TABLE public.movimientos_caja ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas para Movimientos
CREATE POLICY "user_select_movimientos" ON public.movimientos_caja FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_insert_movimientos" ON public.movimientos_caja FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_movimientos" ON public.movimientos_caja FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_delete_movimientos" ON public.movimientos_caja FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
-- 09_paquetes_tareas.sql
-- MigraciÃ³n para Paquetes de Sesiones y Tareas Entre-sesiones

-- 1. Paquetes de Sesiones (CatÃ¡logo por ClÃ­nica)
CREATE TABLE IF NOT EXISTS public.paquetes_sesiones (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    nombre TEXT NOT NULL,
    num_sesiones INTEGER NOT NULL,
    precio DECIMAL(10,2) NOT NULL,
    activo BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Habilitar RLS
ALTER TABLE public.paquetes_sesiones ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas para paquetes_sesiones
CREATE POLICY "Superadmin tiene acceso total a paquetes_sesiones" ON public.paquetes_sesiones
    FOR ALL TO authenticated USING (auth.jwt() ->> 'rol' = 'superadmin');

CREATE POLICY "Usuarios de clÃ­nica pueden gestionar paquetes_sesiones" ON public.paquetes_sesiones
    FOR ALL TO authenticated 
    USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()))
    WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));


-- 2. Paquetes comprados por el Paciente
CREATE TABLE IF NOT EXISTS public.paciente_paquetes (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    paciente_id UUID NOT NULL REFERENCES public.pacientes(id) ON DELETE CASCADE,
    paquete_id UUID NOT NULL REFERENCES public.paquetes_sesiones(id) ON DELETE RESTRICT,
    sesiones_restantes INTEGER NOT NULL,
    estado TEXT NOT NULL DEFAULT 'activo', -- 'activo', 'agotado'
    fecha_compra TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Habilitar RLS
ALTER TABLE public.paciente_paquetes ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas para paciente_paquetes
CREATE POLICY "Superadmin tiene acceso total a paciente_paquetes" ON public.paciente_paquetes
    FOR ALL TO authenticated USING (auth.jwt() ->> 'rol' = 'superadmin');

CREATE POLICY "Usuarios de clÃ­nica pueden gestionar paciente_paquetes" ON public.paciente_paquetes
    FOR ALL TO authenticated USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));


-- 3. Tareas del Paciente (Entre-sesiones)
CREATE TABLE IF NOT EXISTS public.tareas_paciente (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    paciente_id UUID NOT NULL REFERENCES public.pacientes(id) ON DELETE CASCADE,
    medico_id UUID NOT NULL REFERENCES public.usuarios(id) ON DELETE CASCADE,
    titulo TEXT NOT NULL,
    descripcion TEXT,
    estado TEXT DEFAULT 'pendiente', -- 'pendiente', 'completada'
    fecha_asignacion TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    fecha_completada TIMESTAMP WITH TIME ZONE
);

-- Habilitar RLS
ALTER TABLE public.tareas_paciente ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas para tareas_paciente
CREATE POLICY "Superadmin tiene acceso total a tareas_paciente" ON public.tareas_paciente
    FOR ALL TO authenticated USING (auth.jwt() ->> 'rol' = 'superadmin');

CREATE POLICY "Usuarios de clÃ­nica pueden gestionar tareas_paciente" ON public.tareas_paciente
    FOR ALL TO authenticated USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
-- ==========================================
-- SCRIPT DE MÃ“DULO DE FACTURACIÃ“N
-- ==========================================

-- 1. TABLA DE FACTURAS
CREATE TABLE IF NOT EXISTS public.facturas (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    paciente_id UUID REFERENCES public.pacientes(id) ON DELETE CASCADE,
    cita_id UUID REFERENCES public.citas(id) ON DELETE SET NULL,
    monto_total DECIMAL(10,2) NOT NULL,
    saldo_pendiente DECIMAL(10,2) NOT NULL,
    estado TEXT NOT NULL CHECK (estado IN ('pendiente', 'pagada', 'parcial', 'cancelada')),
    concepto TEXT NOT NULL,
    nit TEXT DEFAULT 'CF',
    nombre_factura TEXT,
    direccion TEXT DEFAULT 'Ciudad',
    numero_factura TEXT,
    serie TEXT,
    fecha_emision DATE NOT NULL,
    fecha_vencimiento DATE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Habilitar RLS
ALTER TABLE public.facturas ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas de Seguridad para Facturas
CREATE POLICY "user_select_facturas" ON public.facturas FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_insert_facturas" ON public.facturas FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_facturas" ON public.facturas FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_delete_facturas" ON public.facturas FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- 2. TABLA DE PAGOS
CREATE TABLE IF NOT EXISTS public.pagos (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    factura_id UUID NOT NULL REFERENCES public.facturas(id) ON DELETE CASCADE,
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    monto DECIMAL(10,2) NOT NULL,
    metodo_pago TEXT NOT NULL CHECK (metodo_pago IN ('efectivo', 'tarjeta', 'transferencia', 'seguro')),
    fecha_pago TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Habilitar RLS
ALTER TABLE public.pagos ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas de Seguridad para Pagos
CREATE POLICY "user_select_pagos" ON public.pagos FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_insert_pagos" ON public.pagos FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_pagos" ON public.pagos FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_delete_pagos" ON public.pagos FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
-- ==========================================
-- SCRIPT DE CONFIGURACIÃ“N DE BASE DE DATOS
-- SUPABASE - CLÃNICA PSICOLÃ“GICA (MULTI-TENANT)
-- ==========================================
-- NOTA: Este archivo contiene las tablas, triggers y polÃ­ticas RLS crÃ­ticas 
-- que se aplicaron durante la migraciÃ³n para blindar la aplicaciÃ³n.
-- ==========================================

-- 1. TABLA DE INVITACIONES (GestiÃ³n de CÃ³digos VIP)
CREATE TABLE IF NOT EXISTS public.invitaciones (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    creado_por UUID NOT NULL REFERENCES public.usuarios(id) ON DELETE CASCADE,
    codigo TEXT NOT NULL UNIQUE,
    rol_asignado TEXT NOT NULL,
    usado BOOLEAN DEFAULT false,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

ALTER TABLE public.invitaciones ENABLE ROW LEVEL SECURITY;

CREATE POLICY "superadmin_select_inv" ON public.invitaciones FOR SELECT USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "superadmin_insert_inv" ON public.invitaciones FOR INSERT WITH CHECK ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "superadmin_update_inv" ON public.invitaciones FOR UPDATE USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "superadmin_delete_inv" ON public.invitaciones FOR DELETE USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "user_select_inv" ON public.invitaciones FOR SELECT USING ( clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()) );

-- 2. TRIGGER DE REGISTRO AUTOMÃTICO DE USUARIOS
-- Intercepta registros de Supabase Auth para leer el cÃ³digo VIP y asignar clinica_id
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger AS $$
DECLARE
  _clinica_id UUID := NULL;
  _rol TEXT := 'admin';
  _invitacion_id UUID;
BEGIN
  IF new.raw_user_meta_data->>'codigo_invitacion' IS NOT NULL THEN
     SELECT id, clinica_id, rol_asignado INTO _invitacion_id, _clinica_id, _rol 
     FROM public.invitaciones 
     WHERE codigo = (new.raw_user_meta_data->>'codigo_invitacion') AND usado = false
     LIMIT 1;
     
     IF _invitacion_id IS NOT NULL THEN
       UPDATE public.invitaciones SET usado = true WHERE id = _invitacion_id;
     END IF;
  END IF;

  INSERT INTO public.usuarios (id, email, nombre, rol, clinica_id)
  VALUES (
    new.id, 
    new.email, 
    COALESCE(new.raw_user_meta_data->>'nombre', 'Doctor'), 
    _rol, 
    _clinica_id
  );
  
  RETURN new;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER SET search_path = public;

-- Asegurarse de que el trigger estÃ© enlazado al sistema Auth
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE PROCEDURE public.handle_new_user();


-- 3. POLÃTICAS RLS INFALIBLES PARA TODAS LAS TABLAS CLÃNICAS
-- Bloquea a los usuarios para que solo vean/editen datos de su propia clÃ­nica.

-- CLINICAS (ExcepciÃ³n: SuperAdmin tiene acceso total)
DROP POLICY IF EXISTS "Permitir todo a superadmin" ON public.clinicas;
DROP POLICY IF EXISTS "Permitir leer su propia clinica" ON public.clinicas;
CREATE POLICY "superadmin_select_clinicas" ON public.clinicas FOR SELECT USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "superadmin_insert_clinicas" ON public.clinicas FOR INSERT WITH CHECK ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "superadmin_update_clinicas" ON public.clinicas FOR UPDATE USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "superadmin_delete_clinicas" ON public.clinicas FOR DELETE USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );
CREATE POLICY "user_select_clinicas" ON public.clinicas FOR SELECT USING ( id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()) );

-- PACIENTES
DROP POLICY IF EXISTS "Permitir insertar a su clinica" ON public.pacientes;
DROP POLICY IF EXISTS "Permitir leer pacientes de su clinica" ON public.pacientes;
DROP POLICY IF EXISTS "Permitir actualizar pacientes de su clinica" ON public.pacientes;
CREATE POLICY "user_insert_pacientes" ON public.pacientes FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_select_pacientes" ON public.pacientes FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_pacientes" ON public.pacientes FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- CITAS
DROP POLICY IF EXISTS "Permitir insertar a su clinica" ON public.citas;
DROP POLICY IF EXISTS "Permitir leer citas de su clinica" ON public.citas;
DROP POLICY IF EXISTS "Permitir actualizar citas de su clinica" ON public.citas;
DROP POLICY IF EXISTS "Permitir eliminar citas de su clinica" ON public.citas;
CREATE POLICY "user_insert_citas" ON public.citas FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_select_citas" ON public.citas FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_citas" ON public.citas FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_delete_citas" ON public.citas FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- DIAGNOSTICOS
DROP POLICY IF EXISTS "Permitir insertar a su clinica" ON public.diagnosticos;
DROP POLICY IF EXISTS "Permitir leer diagnosticos de su clinica" ON public.diagnosticos;
DROP POLICY IF EXISTS "Permitir actualizar diagnosticos de su clinica" ON public.diagnosticos;
CREATE POLICY "user_insert_diagnosticos" ON public.diagnosticos FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_select_diagnosticos" ON public.diagnosticos FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_diagnosticos" ON public.diagnosticos FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- MEDICAMENTOS
DROP POLICY IF EXISTS "Permitir insertar a su clinica" ON public.medicamentos;
DROP POLICY IF EXISTS "Permitir leer medicamentos de su clinica" ON public.medicamentos;
DROP POLICY IF EXISTS "Permitir actualizar medicamentos de su clinica" ON public.medicamentos;
CREATE POLICY "user_insert_medicamentos" ON public.medicamentos FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_select_medicamentos" ON public.medicamentos FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_medicamentos" ON public.medicamentos FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- EXAMENES
DROP POLICY IF EXISTS "Permitir insertar a su clinica" ON public.examenes;
DROP POLICY IF EXISTS "Permitir leer examenes de su clinica" ON public.examenes;
DROP POLICY IF EXISTS "Permitir actualizar examenes de su clinica" ON public.examenes;
CREATE POLICY "user_insert_examenes" ON public.examenes FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_select_examenes" ON public.examenes FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_examenes" ON public.examenes FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- SIGNOS VITALES
DROP POLICY IF EXISTS "Permitir insertar a su clinica" ON public.signos_vitales;
DROP POLICY IF EXISTS "Permitir leer signos de su clinica" ON public.signos_vitales;
CREATE POLICY "user_insert_signos_vitales" ON public.signos_vitales FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_select_signos_vitales" ON public.signos_vitales FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- NOTAS CLINICAS
DROP POLICY IF EXISTS "Permitir insertar a su clinica" ON public.notas_clinicas;
DROP POLICY IF EXISTS "Permitir leer notas de su clinica" ON public.notas_clinicas;
CREATE POLICY "user_insert_notas_clinicas" ON public.notas_clinicas FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_select_notas_clinicas" ON public.notas_clinicas FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- 4. COMANDOS MANUALES POST-INSTALACIÃ“N
-- Si creas un proyecto nuevo, deberÃ¡s ejecutar este comando una vez registrado 
-- tu primer usuario para otorgarle el rol de "DueÃ±o del Sistema" (SuperAdmin):
-- UPDATE public.usuarios SET rol = 'superadmin' WHERE email = 'tu_correo@admin.com';
-- ==========================================
-- SCRIPT DE MÃ“DULO DE FACTURACIÃ“N
-- ==========================================

-- 1. TABLA DE FACTURAS
CREATE TABLE IF NOT EXISTS public.facturas (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    paciente_id UUID NOT NULL REFERENCES public.pacientes(id) ON DELETE CASCADE,
    cita_id UUID REFERENCES public.citas(id) ON DELETE SET NULL,
    monto_total DECIMAL(10,2) NOT NULL,
    saldo_pendiente DECIMAL(10,2) NOT NULL,
    estado TEXT NOT NULL CHECK (estado IN ('pendiente', 'pagada', 'parcial', 'cancelada')),
    concepto TEXT NOT NULL,
    fecha_emision DATE NOT NULL,
    fecha_vencimiento DATE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Habilitar RLS
ALTER TABLE public.facturas ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas de Seguridad para Facturas
CREATE POLICY "user_select_facturas" ON public.facturas FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_insert_facturas" ON public.facturas FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_facturas" ON public.facturas FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_delete_facturas" ON public.facturas FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

-- 2. TABLA DE PAGOS
CREATE TABLE IF NOT EXISTS public.pagos (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    factura_id UUID NOT NULL REFERENCES public.facturas(id) ON DELETE CASCADE,
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    monto DECIMAL(10,2) NOT NULL,
    metodo_pago TEXT NOT NULL CHECK (metodo_pago IN ('efectivo', 'tarjeta', 'transferencia', 'seguro')),
    fecha_pago TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Habilitar RLS
ALTER TABLE public.pagos ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas de Seguridad para Pagos
CREATE POLICY "user_select_pagos" ON public.pagos FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_insert_pagos" ON public.pagos FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_update_pagos" ON public.pagos FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
CREATE POLICY "user_delete_pagos" ON public.pagos FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));
-- Permitir a los administradores crear invitaciones para su propia clÃ­nica
CREATE POLICY "admin_insert_inv" 
ON public.invitaciones 
FOR INSERT 
WITH CHECK (
  (SELECT rol FROM public.usuarios WHERE id = auth.uid()) IN ('admin', 'doctor') AND
  clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid())
);
-- Arreglar polÃ­ticas de la tabla clinicas
-- Eliminar polÃ­ticas antiguas (si existen)
DROP POLICY IF EXISTS "superadmin_select_clinicas" ON public.clinicas;
DROP POLICY IF EXISTS "superadmin_insert_clinicas" ON public.clinicas;
DROP POLICY IF EXISTS "superadmin_update_clinicas" ON public.clinicas;
DROP POLICY IF EXISTS "superadmin_delete_clinicas" ON public.clinicas;
DROP POLICY IF EXISTS "user_select_clinicas" ON public.clinicas;
DROP POLICY IF EXISTS "admin_update_clinicas" ON public.clinicas;

-- Superadmin puede hacer todo
CREATE POLICY "superadmin_select_clinicas" ON public.clinicas 
FOR SELECT USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );

CREATE POLICY "superadmin_insert_clinicas" ON public.clinicas 
FOR INSERT WITH CHECK ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );

CREATE POLICY "superadmin_update_clinicas" ON public.clinicas 
FOR UPDATE USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );

CREATE POLICY "superadmin_delete_clinicas" ON public.clinicas 
FOR DELETE USING ( (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'superadmin' );

-- Usuarios normales pueden ver su propia clÃ­nica
CREATE POLICY "user_select_clinicas" ON public.clinicas 
FOR SELECT USING ( id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()) );

-- Admins pueden editar los datos de su propia clÃ­nica (ConfiguracionClinica)
CREATE POLICY "admin_update_clinicas" ON public.clinicas 
FOR UPDATE USING ( 
  id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()) 
  AND (SELECT rol FROM public.usuarios WHERE id = auth.uid()) = 'admin'
);
-- Permitir a los administradores y doctores eliminar invitaciones de su propia clÃ­nica
CREATE POLICY "admin_delete_inv" 
ON public.invitaciones 
FOR DELETE 
USING (
  (SELECT rol FROM public.usuarios WHERE id = auth.uid()) IN ('admin', 'doctor') AND
  clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid())
);
-- 1. CREAR LA TABLA PARA METADATOS DE ARCHIVOS
CREATE TABLE IF NOT EXISTS public.archivos_paciente (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    clinica_id UUID NOT NULL REFERENCES public.clinicas(id) ON DELETE CASCADE,
    paciente_id UUID NOT NULL REFERENCES public.pacientes(id) ON DELETE CASCADE,
    nombre_original TEXT NOT NULL,
    ruta_storage TEXT NOT NULL,
    tipo_mime TEXT NOT NULL,
    tamano_bytes BIGINT NOT NULL,
    fecha_subida TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    subido_por UUID REFERENCES public.usuarios(id) ON DELETE SET NULL
);

-- 2. HABILITAR RLS PARA LA TABLA
ALTER TABLE public.archivos_paciente ENABLE ROW LEVEL SECURITY;

-- 3. POLÃTICAS DE RLS PARA LA TABLA (Aislamiento por clÃ­nica)
CREATE POLICY "Permitir a usuarios ver archivos de su clÃ­nica" ON public.archivos_paciente
    FOR SELECT USING (
        clinica_id IN (
            SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()
        )
    );

CREATE POLICY "Permitir a usuarios insertar archivos en su clÃ­nica" ON public.archivos_paciente
    FOR INSERT WITH CHECK (
        clinica_id IN (
            SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()
        )
    );

CREATE POLICY "Permitir a usuarios eliminar archivos de su clÃ­nica" ON public.archivos_paciente
    FOR DELETE USING (
        clinica_id IN (
            SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()
        )
    );

-- 4. CREAR EL BUCKET EN SUPABASE STORAGE
-- Inserta el bucket 'pacientes_archivos' si no existe. 
-- Lo configuramos como NO pÃºblico, ya que los archivos mÃ©dicos son confidenciales.
INSERT INTO storage.buckets (id, name, public)
VALUES ('pacientes_archivos', 'pacientes_archivos', false)
ON CONFLICT (id) DO NOTHING;

-- 5. POLÃTICAS DE RLS PARA STORAGE
-- Permitimos interacciÃ³n si el usuario estÃ¡ autenticado. El aislamiento se refuerza mediante la tabla 'archivos_paciente'
CREATE POLICY "Permitir subir archivos a usuarios autenticados" ON storage.objects
    FOR INSERT TO authenticated WITH CHECK (
        bucket_id = 'pacientes_archivos'
    );

CREATE POLICY "Permitir ver archivos a usuarios autenticados" ON storage.objects
    FOR SELECT TO authenticated USING (
        bucket_id = 'pacientes_archivos'
    );

CREATE POLICY "Permitir eliminar archivos a usuarios autenticados" ON storage.objects
    FOR DELETE TO authenticated USING (
        bucket_id = 'pacientes_archivos'
    );
-- Agregar campos de informaciÃ³n fiscal y comercial a la tabla clinicas
ALTER TABLE clinicas
ADD COLUMN IF NOT EXISTS nit VARCHAR(20),
ADD COLUMN IF NOT EXISTS razon_social VARCHAR(255),
ADD COLUMN IF NOT EXISTS nombre_comercial VARCHAR(255),
ADD COLUMN IF NOT EXISTS direccion_fiscal TEXT,
ADD COLUMN IF NOT EXISTS telefono_contacto VARCHAR(50),
ADD COLUMN IF NOT EXISTS no_patente VARCHAR(100),
ADD COLUMN IF NOT EXISTS abreviatura VARCHAR(50);
-- Crear tabla de plantillas de documentos
CREATE TABLE IF NOT EXISTS public.plantillas_documentos (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  clinica_id uuid REFERENCES public.clinicas(id) ON DELETE CASCADE,
  titulo text NOT NULL,
  contenido text NOT NULL,
  created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Habilitar RLS para plantillas
ALTER TABLE public.plantillas_documentos ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas para plantillas
DROP POLICY IF EXISTS "user_select_plantillas" ON public.plantillas_documentos;
CREATE POLICY "user_select_plantillas" ON public.plantillas_documentos 
FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

DROP POLICY IF EXISTS "user_insert_plantillas" ON public.plantillas_documentos;
CREATE POLICY "user_insert_plantillas" ON public.plantillas_documentos 
FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

DROP POLICY IF EXISTS "user_update_plantillas" ON public.plantillas_documentos;
CREATE POLICY "user_update_plantillas" ON public.plantillas_documentos 
FOR UPDATE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

DROP POLICY IF EXISTS "user_delete_plantillas" ON public.plantillas_documentos;
CREATE POLICY "user_delete_plantillas" ON public.plantillas_documentos 
FOR DELETE USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));


-- Crear tabla de consentimientos firmados
CREATE TABLE IF NOT EXISTS public.consentimientos_firmados (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  clinica_id uuid REFERENCES public.clinicas(id) ON DELETE CASCADE,
  paciente_id uuid REFERENCES public.pacientes(id) ON DELETE CASCADE,
  plantilla_id uuid REFERENCES public.plantillas_documentos(id) ON DELETE SET NULL,
  titulo text NOT NULL,
  contenido_firmado text NOT NULL,
  firma_data_url text NOT NULL,
  fecha_firma timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
  estado text DEFAULT 'firmado' CHECK (estado IN ('pendiente', 'firmado'))
);

-- Habilitar RLS para consentimientos firmados
ALTER TABLE public.consentimientos_firmados ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas para consentimientos
DROP POLICY IF EXISTS "user_select_consentimientos" ON public.consentimientos_firmados;
CREATE POLICY "user_select_consentimientos" ON public.consentimientos_firmados 
FOR SELECT USING (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

DROP POLICY IF EXISTS "user_insert_consentimientos" ON public.consentimientos_firmados;
CREATE POLICY "user_insert_consentimientos" ON public.consentimientos_firmados 
FOR INSERT WITH CHECK (clinica_id = (SELECT clinica_id FROM public.usuarios WHERE id = auth.uid()));

DROP POLICY IF EXISTS "public_update_consentimientos_pendientes" ON public.consentimientos_firmados;
CREATE POLICY "public_update_consentimientos_pendientes" ON public.consentimientos_firmados
FOR UPDATE USING (estado = 'pendiente');

DROP POLICY IF EXISTS "public_select_consentimientos_pendientes" ON public.consentimientos_firmados;
CREATE POLICY "public_select_consentimientos_pendientes" ON public.consentimientos_firmados
FOR SELECT USING (estado = 'pendiente');

-- Insertar plantilla por defecto automÃ¡ticamente al crear una nueva clÃ­nica
CREATE OR REPLACE FUNCTION public.crear_plantilla_defecto()
RETURNS trigger AS $$
BEGIN
  INSERT INTO public.plantillas_documentos (clinica_id, titulo, contenido)
  VALUES (
    NEW.id,
    'Consentimiento Informado General (Adultos)',
    'CONSENTIMIENTO INFORMADO PARA EVALUACIÃ“N Y TRATAMIENTO PSICOLÃ“GICO

1. IDENTIFICACIÃ“N
Yo, {{PACIENTE_NOMBRE}}, autorizo libre y voluntariamente a participar en el proceso de evaluaciÃ³n y tratamiento psicolÃ³gico.

2. NATURALEZA DEL SERVICIO
Entiendo que el tratamiento psicolÃ³gico es una relaciÃ³n colaborativa. Los resultados dependen en gran medida de mi participaciÃ³n activa. El profesional utilizarÃ¡ tÃ©cnicas basadas en evidencia cientÃ­fica orientadas a mi bienestar.

3. CONFIDENCIALIDAD
Toda la informaciÃ³n revelada durante las sesiones serÃ¡ estrictamente confidencial. Las Ãºnicas excepciones legales para romper esta confidencialidad son:
- Riesgo inminente contra mi propia vida o la vida de terceros.
- Sospecha de abuso a menores de edad o personas vulnerables.
- Requerimiento u orden de un juez.

4. POLÃTICAS DE CANCELACIÃ“N Y HONORARIOS
Me comprometo a notificar cualquier cancelaciÃ³n con al menos 24 horas de anticipaciÃ³n. De lo contrario, la sesiÃ³n podrÃ¡ ser cobrada en su totalidad. Entiendo las tarifas acordadas y me comprometo a cumplir con los pagos de manera oportuna.

5. VOLUNTARIEDAD
Entiendo que mi participaciÃ³n es totalmente voluntaria y tengo el derecho de retirar este consentimiento y finalizar el tratamiento en el momento que lo considere necesario, sin que esto implique penalizaciÃ³n alguna.

Con mi firma abajo, declaro que he leÃ­do, comprendido y aceptado las condiciones aquÃ­ expuestas, habiendo tenido la oportunidad de aclarar cualquier duda con mi terapeuta.'
  );
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Trigger para ejecutar la funciÃ³n cuando se crea una clÃ­nica
DROP TRIGGER IF EXISTS on_clinica_created_plantilla ON public.clinicas;
CREATE TRIGGER on_clinica_created_plantilla
  AFTER INSERT ON public.clinicas
  FOR EACH ROW EXECUTE FUNCTION public.crear_plantilla_defecto();

-- Insertar la plantilla por defecto para todas las clÃ­nicas que ya existen y no tienen plantillas
INSERT INTO public.plantillas_documentos (clinica_id, titulo, contenido)
SELECT 
  id, 
  'Consentimiento Informado General (Adultos)', 
  'CONSENTIMIENTO INFORMADO PARA EVALUACIÃ“N Y TRATAMIENTO PSICOLÃ“GICO

1. IDENTIFICACIÃ“N
Yo, {{PACIENTE_NOMBRE}}, autorizo libre y voluntariamente a participar en el proceso de evaluaciÃ³n y tratamiento psicolÃ³gico.

2. NATURALEZA DEL SERVICIO
Entiendo que el tratamiento psicolÃ³gico es una relaciÃ³n colaborativa. Los resultados dependen en gran medida de mi participaciÃ³n activa. El profesional utilizarÃ¡ tÃ©cnicas basadas en evidencia cientÃ­fica orientadas a mi bienestar.

3. CONFIDENCIALIDAD
Toda la informaciÃ³n revelada durante las sesiones serÃ¡ estrictamente confidencial. Las Ãºnicas excepciones legales para romper esta confidencialidad son:
- Riesgo inminente contra mi propia vida o la vida de terceros.
- Sospecha de abuso a menores de edad o personas vulnerables.
- Requerimiento u orden de un juez.

4. POLÃTICAS DE CANCELACIÃ“N Y HONORARIOS
Me comprometo a notificar cualquier cancelaciÃ³n con al menos 24 horas de anticipaciÃ³n. De lo contrario, la sesiÃ³n podrÃ¡ ser cobrada en su totalidad. Entiendo las tarifas acordadas y me comprometo a cumplir con los pagos de manera oportuna.

5. VOLUNTARIEDAD
Entiendo que mi participaciÃ³n es totalmente voluntaria y tengo el derecho de retirar este consentimiento y finalizar el tratamiento en el momento que lo considere necesario, sin que esto implique penalizaciÃ³n alguna.

Con mi firma abajo, declaro que he leÃ­do, comprendido y aceptado las condiciones aquÃ­ expuestas, habiendo tenido la oportunidad de aclarar cualquier duda con mi terapeuta.'
FROM public.clinicas
WHERE NOT EXISTS (
  SELECT 1 FROM public.plantillas_documentos WHERE clinica_id = public.clinicas.id
);
-- Agregar columnas de configuraciÃ³n de correo a la tabla clinicas
ALTER TABLE public.clinicas
  ADD COLUMN IF NOT EXISTS resend_api_key TEXT,
  ADD COLUMN IF NOT EXISTS email_remitente TEXT;
-- MigraciÃ³n para FacturaciÃ³n en Guatemala (NIT, Nombre, DirecciÃ³n, FEL)
ALTER TABLE public.facturas ADD COLUMN IF NOT EXISTS direccion TEXT DEFAULT 'Ciudad';
ALTER TABLE public.facturas ADD COLUMN IF NOT EXISTS numero_factura TEXT;
ALTER TABLE public.facturas ADD COLUMN IF NOT EXISTS serie TEXT;
-- MigraciÃ³n para FacturaciÃ³n en Guatemala (NIT y Nombre)
ALTER TABLE public.facturas ALTER COLUMN paciente_id DROP NOT NULL;
ALTER TABLE public.facturas ADD COLUMN IF NOT EXISTS nit TEXT DEFAULT 'CF';
ALTER TABLE public.facturas ADD COLUMN IF NOT EXISTS nombre_factura TEXT;
